.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
.next/
out/
.env
.env.local
.env.production
.env.development
.vercel
echo "
.next/
out/
.env
.env.local
.env.production
.env.development
.vercel" >> .gitignore
